.fullscreen-overlay {
  width: 100%;
  height: 100dvh;
  height: 100svh;
  height: 100vh;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  background-color: rgba(242, 242, 242, 0.7);
}
.overlay-container {
  width: 100%;
  height: 70dvh;
  height: 70svh;
  height: 70vh;
  height: 70%;
  position: fixed;
  top: 30dvh;
  top: 30svh;
  top: 30vh;
  top: 30%;
  left: 0;
  z-index: 2002;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  overflow-y: scroll;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.drag-rectangle {
  width: 24px;
  height: 4px;

  background-color: #c4c4c4;
  border-radius: 3px;

  margin-bottom: 20px;
}
ul.list {
  width: 100%;
  margin-bottom: 2rem;
}

li:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.row-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
  border-top: 1px solid #000000;
  padding: 0 0.5rem;
}
.row-element:last-child {
  border-bottom: 1px solid #000000;
}
.filter-content {
  display: flex;
  flex-direction: column;
}
.filter-label {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  font-family:
    Source Sans Pro,
    Arial,
    sans-serif;
  padding-right: 5px;
}
.expanded-filter {
  padding: 0 0.5rem;
}
.checkbox-row {
  border-bottom: 1px solid #b6b6b6;
}
.checkbox-row:last-child {
  border-bottom: 0;
}
.active-filters-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.active-filters-wrapper:hover {
  cursor: default;
}
.icon-class:hover {
  cursor: pointer;
}
.active-filter-container {
  min-height: 32px;
  background-color: #6a6a6a;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem;
  border-radius: 5px;
}
.active-filter-text {
  color: white;
  margin-right: 1rem;
  font-family:
    Source Sans Pro,
    Arial,
    sans-serif;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 576px) and (min-height: 576px) {
  .fullscreen-overlay {
    all: initial;
    width: 20%;
    height: auto;
    position: absolute;
    transform: translate(-109%, 42px);
  }
  .overlay-container {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 6px;
  }
  .drag-rectangle,
  .header {
    display: none;
  }
  .row-element {
    border-top: 1px solid #000000;
  }
  .row-element:first-child {
    border-top: 0;
  }
  .row-element:last-child {
    border-bottom: 1px solid #000000;
  }
}
.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@media (min-width: 576px) {
  .fullscreen-overlay {
    all: initial;
    width: 20%;
    height: auto;
    position: absolute;
    transform: translate(-109%, 42px);
  }
  .overlay-container {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 6px;
  }
  .drag-rectangle,
  .header {
    display: none;
  }
  .row-element {
    border-top: 1px solid #000000;
  }
  .row-element:first-child {
    border-top: 0;
  }
  .row-element:last-child {
    border-bottom: 1px solid #000000;
  }
}

.hidden {
  visibility: hidden;
}
