.navds-button {
  display: inline-flex;
  cursor: pointer;
  background-color: #ffffff;
  color: #0067c5;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  border-color: #0067c5;
  border: none;
  border-radius: 8px;
  min-height: 48px;
  align-items: center;
  padding: calc(0.75rem - 2px) 0.75rem;
}
.navds-button--secondary {
  border: 2px solid #0067c5;
}
.navds-button--secondary:hover,
.navds-button--secondary:active {
  color: #0067c5;
  background-color: #cce1ff;
  border-color: #0067c5;
}

.navds-body-short {
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0;
}

.navds-button--tertiary {
  border-color: transparent;
  background-color: transparent;
}

.navds-button--tertiary:hover,
.navds-button--tertiary:focus {
  border-color: #0067c5;
}

.navds-button--primary,
.navds-button--danger {
  color: white;
  border-width: 1px;
}

.navds-button--primary:hover {
  background-color: #0056b4;
  border-color: #0056b4;
}

.navds-button--danger {
  background-color: #ba3a26;
  border-color: #ba3a26;
}

.navds-button--danger:hover {
  background-color: #a32a17;
  border-color: #a32a17;
}

.navds-button--primary {
  background-color: #0067c5;
  border-color: #0067c5;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  text-transform: none;
}

button {
  overflow: visible;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  text-transform: none;
}

button {
  overflow: visible;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

* {
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.navds-button:disabled:disabled {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  opacity: 0.3;
}

.navds-button--primary:disabled:hover,
.navds-button--primary:disabled:active,
.navds-button--primary:disabled:focus {
  background-color: #0067c5;
  border-color: #0067c5;
  color: #ffffff;
  box-shadow: none;
  cursor: not-allowed;
}

.navds-button--secondary:disabled:hover,
.navds-button--secondary:disabled:active,
.navds-button--secondary:disabled:focus {
  background-color: #ffffff;
  border-color: #0067c5;
  color: #0067c5;
  box-shadow: none;
  cursor: not-allowed;
}

.navds-button--tertiary:disabled:hover,
.navds-button--tertiary:disabled:active,
.navds-button--tertiary:disabled:focus {
  background-color: transparent;
  border-color: transparent;
  color: #0067c5;
  box-shadow: none;
  cursor: not-allowed;
}

.navds-button--danger:disabled:hover,
.navds-button--danger:disabled:active,
.navds-button--danger:disabled:focus {
  background-color: #ba3a26;
  border-color: #ba3a26;
  color: #ffffff;
  box-shadow: none;
  cursor: not-allowed;
}

.navds-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d !important;
}

.navds-button--primary:focus,
.navds-button--danger:focus {
  border-color: white;
}

.navds-button--loading {
  justify-content: center;
}

.navds-button--loading:disabled {
  opacity: 1;
  cursor: wait;
}

.navds-loader {
  width: 1.5rem;
  display: inline-block;
  position: relative;
  animation: loader-rotate 1.8s linear infinite;
  stroke-width: 6;
  --ac-loader-background-stroke-width: 5.9;
}

.navds-loader__foreground {
  animation: loader-dasharray 1.8s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  stroke: var(--ac-loader-stroke, var(--a-border-default));
  stroke-width: var(--ac-loader-background-stroke-width);
}

.navds-loader__background {
  stroke: var(--ac-loader-stroke-bg, var(--a-surface-active));
  stroke-width: var(--ac-loader-background-stroke-width);
}

/* Sizes */
.navds-loader--3xlarge {
  width: 5.5rem;
  stroke-width: 5;
  --ac-loader-background-stroke-width: 4.8;
}

.navds-loader--2xlarge {
  width: 4rem;
  stroke-width: 6;
  --ac-loader-background-stroke-width: 5.8;
}

.navds-loader--xlarge {
  width: 2.5rem;
  stroke-width: 6;
  --ac-loader-background-stroke-width: 5.8;
}

.navds-loader--large {
  width: 2rem;
  stroke-width: 7;
  --ac-loader-background-stroke-width: 6.8;
}

.navds-loader--medium {
  width: 1.5rem;
  stroke-width: 7;
  --ac-loader-background-stroke-width: 6.8;
}

.navds-loader--small {
  width: 1.25rem;
  stroke-width: 8;
  --ac-loader-background-stroke-width: 7.8;
}

.navds-loader--xsmall {
  width: 1rem;
  stroke-width: 8;
  --ac-loader-background-stroke-width: 7.8;
}

/* Variant styles */
.navds-loader--neutral .navds-loader__foreground {
  stroke: var(--ac-loader-neutral-stroke, var(--a-border-default));
}

.navds-loader--interaction .navds-loader__foreground {
  stroke: var(--ac-loader-interaction-stroke, var(--a-border-action));
}

.navds-loader--inverted .navds-loader__foreground {
  stroke: var(--ac-loader-inverted-stroke, var(--a-border-on-inverted));
}

.navds-loader--inverted .navds-loader__background {
  stroke: var(--ac-loader-inverted-stroke-bg, var(--a-border-on-inverted-subtle));
}

.navds-loader--transparent .navds-loader__background {
  stroke: var(--a-surface-transparent);
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}
