.section-header{
    width: calc(100% - 1.5rem * 2);
    background-color: var(--main-bg-color);
    display: flex; 
    margin: 0 auto;
    cursor: pointer;
    border: 0.063rem solid transparent ;
    border-radius: 0.125rem;     
}
.section-header:hover {
    background-color: var(--hover-bg-color);
    z-index: 10;
}
.section-header:focus{
    background-color: var(--focus-bg-color);
    z-index: 10;
}
.section-illustration{
    float: left;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}
.section-title{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: var(--main-font-size);
    color: rgba(0, 103, 197, 1);
    font-weight: var(--title-font-weight);
    text-align: left;
    margin: 0.5rem;
}

.vertical-line{
    margin-left: 3rem;
    border-left: 0.125rem solid rgba(176, 176, 176, 1);
    padding-left: 1rem;
}

.my-icon {
    --sds-c-icon-color-foreground-default:rgba(0, 103, 197, 1);
}