.navds-link-panel__chevron {
    font-size: 1.5rem;
    transition: transform 200ms;
}

.navds-link-panel:hover > .navds-link-panel__chevron,
.navds-link-panel:focus-within > .navds-link-panel__chevron {
    transform: translateX(4px);
}

.navds-link-panel:hover {
    box-shadow: #a0a0a0 0 2px 1px 0;
    border-color: #0067c5;
}
.navds-link-panel:hover .navds-link-panel-title {
    text-decoration: underline;
    color: #0067c5;
}
.navds-panel--border {
    border-color: #a0a0a0;
}
.navds-panel {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
}

.navds-title {
    font-weight: 600;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.375;
    color: #262626;
    font-size: 1.125rem;
}
.navds-title--m {
    font-size: 1.5rem;
    letter-spacing: -0.002em;
    line-height: 1.3;
}

.navds-link-panel {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #262626;
}

.navds-label {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.375;
    color: #262626;
    font-size: 1.125rem;
}

.navds-link-panel:focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
