.open-filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 5em;
    padding: 0.5rem;
    border: 2px solid var(--filterButtonBorderColor);
    border-radius: 8px;
    background-color: var(--filterButtonBackgroundColor);
}

.open-filter-button:hover,
.open-filter-button:focus {
    background-color: #E1E2E6;
}

@media (max-width: 576px) {
    .open-filter-button {
        width: 5em;
        height: 2.5em;
    }
}
