.helptext {
  position: relative;
  display: inline-block;
  padding-left: 5px;
}

.helptextButton {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helptextIcon {
  border-radius: 50%;
  font-size: 1.5rem;
  color: #2a60c2;
}

.helptextPopup {
  z-index: 1000;
  background-color: #d9f8ff;
  box-shadow: 0 2px 4px 0 #b1c5cd;
  border: 1px solid;
  border-color: #3f8ba7;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-46%);
  inset-inline-start: 0;
  inset-block-end: calc(100% + 8px);
  padding: 0.75rem 0.875rem;
  box-sizing: border-box;
  white-space: normal;
  width: 30vw;
}

.helptextPopupContent {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin: 0;
}

.helptextButton:focus > .helptextIcon {
  outline: none;
  color: #ffffff;
  background: #0067c5;
  box-shadow: 0 0 0 1px #00347d;
}

.helptextButton:focus + .helptextPopup {
  z-index: 1001;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  outline: none;
  box-shadow: 0 0 0 1px #00347d;
}

.helptextPopup[data-popper-placement^="top"] > .helptextArrow::before {
  border-left-color: transparent;
  border-top-color: transparent;
}

.navds-help-text__popover > .helptextArrow::before {
  background-color: #d8f9ff;
}

.helptextArrow::before {
  display: block;
  content: "";
  transform: rotate(45deg);
  background-color: #ffffff;
  width: 1rem;
  height: 1rem;
}

.helptextArrow {
  position: absolute;
  left: calc(50% - 7px);
  bottom: calc(1rem / -2);
}

.isMobile {
  white-space: normal;
}

.helptextBackdrop {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 999;
}

@media (max-width: 576px) {
  .helptextPopup {
    position: fixed;
    max-inline-size: min(320px, 92vw);
    width: auto;
    padding: 0.75rem;
    transform: none;
  }
  .helptextArrow {
    left: auto;
    bottom: auto;
  }
}

.sr-only,
.navds-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.helptextPopup--hidden {
  display: none;
}

/* Zoom  200% */
@media (max-width: 800px), (max-height: 600px) {
  .helptextPopup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem !important;

    max-inline-size: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    max-block-size: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;

    padding: 0.75rem;
    box-sizing: border-box;
  }

  .helptextArrow {
    display: none;
  }

  .helptextPopupContent {
    font-size: clamp(1rem, 0.6rem, 1rem);
    line-height: 1.35;
  }
}

