.navds-help-text {
    position: relative;
    display: inline-block;
}

.navds-help-text__button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navds-help-text__icon {
    border-radius: 50%;
    font-size: 1.5rem;
    color: #0067c5;
}

.navds-popover {
    z-index: 1000;
    background-color: #d8f9ff;
    box-shadow: 0 2px 4px 0 #c9c9c9;
    border: 1px solid;
    border-color: #a0a0a0;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    bottom: 50px;
}

.navds-popover__content {
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    margin: 0;
}

.navds-help-text__button:hover > .navds-help-text__icon {
    color: #ffffff;
    background: #0067c5;
    box-shadow: 0 0 0 2px #0067c5;
}

.navds-help-text__button:focus > .navds-help-text__icon {
    outline: none;
    color: #ffffff;
    background: #0067c5;
    box-shadow: 0 0 0 3px #00347d;
}

.navds-help-text__button:focus + .navds-popover {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}

.navds-popover[data-popper-placement^='top'] > .navds-popover__arrow::before {
    border-left-color: transparent;
    border-top-color: transparent;
}

.navds-help-text__popover > .navds-popover__arrow::before {
    background-color: #d8f9ff;
}

.navds-popover__arrow::before {
    display: block;
    content: '';
    transform: rotate(45deg);
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a0a0a0;
    width: 1rem;
    height: 1rem;
}

.navds-popover__arrow {
    position: absolute;
    left: calc(50% - 9.5px);
    bottom: calc(1rem / -2);
}

.isMobile {
    white-space: normal;
}
