
/* Override slds styles on standard html*/


a {
    all: unset;
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}


div {
    display: block;
}

html {
    background-color: #efefef;
    justify-content: center;
    scroll-behavior: smooth;
}
/* Override slds tags */

lightning-output-field.hidden-helptext > lightning-helptext {
    display: none;
}

lightning-output-field > span,
span.lightning-output-field__label {
    font-weight: bold;
}

lightning-output-field > div > lightning-formatted-text,
lightning-formatted-text.lightning-output-field,
lightning-formatted-date-time.lightning-output-field {
    font-size: 1rem !important;
    font-weight: 300 !important;
}

lightning-formatted-number.lightning-output-field {
    font-size: 1rem !important;
}

.slds-p-horizontal_medium,
.slds-p-horizontal--medium {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.slds-m-top_x-large,
.slds-m-top--x-large {
    margin-top: 0 !important;
}

.slds-col--padded {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: #696969;
    font-size: 1rem !important;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
}

.slds-textarea {
    border-color: #78706a;
    box-shadow: none;
}

.slds-form-element__legend {
    font-weight: normal;
}

.slds-input {
    border-color: #78706a !important;
    box-shadow: none;
}


.slds-radio [type='radio']:checked + .slds-radio_faux:after,
.slds-radio [type='radio']:checked + .slds-radio--faux:after,
.slds-radio [type='radio']:checked ~ .slds-radio_faux:after,
.slds-radio [type='radio']:checked ~ .slds-radio--faux:after,
.slds-radio [type='radio']:checked + .slds-radio__label .slds-radio_faux:after,
.slds-radio [type='radio']:checked + .slds-radio__label .slds-radio--faux:after {
    width: 65%;
    height: 65%;
    content: '';
    position: absolute;
    justify-content: center;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background: #0067c5;
}

span.slds-radio {
    height: 1.16rem;
    display: inline-block;
    margin-right: 1rem;
}

.slds-button_brand,
.slds-button--brand {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 550;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border 0.15s linear;
    background-color: #0067c5;
    border-color: #0067c5;
    color: #ffffff;
}

.slds-button_brand:hover,
.slds-button--brand:hover {
    background-color: #3385d1;
}

@media (max-width: 576px) {
    lightning-button {
        width: 100%;
    }
}

.slds-button {
    font-size: 1rem;
}

.slds-th__action-button {
    display: none;
}

.slds-truncate {
    font-size: 1rem;
}

.slds-button_icon-x-small,
.slds-button--icon-x-small {
    width: 1.35rem;
    height: 1.35rem;
    line-height: 0;
    background-color: #fff;
}

.slds-input-has-icon_right .slds-input__icon {
    top: 25%;
}

.slds-form-element_stacked {
    padding: 0 !important;
    margin: 0 !important;
}


.slds-notify_toast,
.slds-notify--toast {
    min-width: 10rem;
}
.slds-tabs_default__link {
    font-size: 1rem;
}

lightning-radio-group > fieldset > div > span {
    margin-bottom: 0.25rem;
}


/* Override datatable */

lightning-datatable {
    width: 100%;
}
lightning-datatable > div.dt-outer-container > div > div > table {
    width: 100% !important;
}

@media (max-width: 576px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        margin: 0 0 1rem 0;
        border-radius: 4px;
    }
    tr:nth-child(odd) {
        background: #e9e7e7;
    }
    td,
    th {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
        border-top: 0 transparent;
        border-bottom: 1px solid rgb(212, 212, 212);
    }
    td:last-child {
        border-bottom: 0 transparent;
    }
    lightning-datatable > div > div > div {
        width: 100% !important;
    }
    lightning-datatable > div > div > div > div > table {
        width: 100% !important;
    }
    /*
	.slds-table_bordered tbody td,
	.slds-table_bordered tbody th,
	.slds-table--bordered tbody td,
	.slds-table--bordered tbody th {
	  border-top: 0 transparent !important;
	  border-bottom: 0 transparent !important;
	}
  
	.slds-table_bordered,
	.slds-table--bordered {
	  border-top: 0 transparent !important;
	  border-bottom: 0 transparent !important;
	}
	*/
}

@media (max-width: 576px) {
    th:nth-of-type(1):before {
        content: var(--columnlabel_0);
        font-weight: 600;
    }
    td:nth-of-type(1):before {
        content: var(--columnlabel_1);
        font-weight: 600;
    }
    td:nth-of-type(2):before {
        content: var(--columnlabel_2);
        font-weight: 600;
    }
    td:nth-of-type(3):before {
        content: var(--columnlabel_3);
        font-weight: 600;
    }
    td:nth-of-type(4):before {
        content: var(--columnlabel_4);
        font-weight: 600;
    }
    td:nth-of-type(5):before {
        content: var(--columnlabel_5);
        font-weight: 600;
    }
    td:nth-of-type(6):before {
        content: var(--columnlabel_6);
        font-weight: 600;
    }
    td:nth-of-type(7):before {
        content: var(--columnlabel_7);
        font-weight: 600;
    }
    td:nth-of-type(8):before {
        content: var(--columnlabel_8);
        font-weight: 600;
    }
    td:nth-of-type(9):before {
        content: var(--columnlabel_9);
        font-weight: 600;
    }
}

/*Override community styling */

.forceCommunitySection .cb-section_column:only-child {
    padding: 0 !important;
}

.siteforceContentArea .comm-layout-column .ui-widget:not(:last-child),
.siteforceContentArea .cb-section_column .ui-widget:not(:last-child) {
    margin-bottom: 0 !important;
}



/* NAV Styling */

.typo-systemtittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;
}

.typo-undertittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: bold;
}

.typo-normal {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

/* nav-crm styling */

.third-width {
    width: 30%;
}

@media (max-width: 564px) {
    .third-width {
        width: 100%;
    }
}


@media (min-width: 576px) {
    .mobile-toggler,
    .mobile-only {
        display: none !important;
        visibility: hidden;
    }
}


/* TEMP (Breadcrumbs)*/



lightning-breadcrumbs {
    padding-left: 2.25rem !important;
    display: flex;
    justify-content: left;
}

lightning-breadcrumb:last-child a {
    font-weight: bold;
    color: black;
}

.brodsmulesti {
    margin: 1rem;
    display: flex;
    justify-content: center;
}



