.slds-col--padded{
    padding-top:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.typo-systemtittel {
	margin: 0;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 1.375rem;
	line-height: 1.625rem;
	font-weight: 600;
}

.hovedbanner-tolk {
	background-color: #dade99;
	border-color: rgb(181, 189, 51);
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	text-align: center;
}

.main-content {
	background-color: #fff !important;
	font-family: "Source Sans Pro", Arial, sans-serif;
	margin: 1rem auto 1rem auto;
	border-radius: 0.5rem;
}

.slds-form-element__label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: #696969;
  font-size: 1.33rem !important;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  margin-bottom: 0.125rem;
}

.slds-textarea{
	border-color: #78706A;
	box-shadow: none
}

lightning-timepicker>label.slds-form-element__label{
	display: none;
    visibility: hidden;
    position: relative;
}
lightning-timepicker>label.slds-form-element__label:before {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Klokkeslett";
}

lightning-datepicker>div>label.slds-form-element__label{
    display: none;
}

.slds-form-element__legend{
    font-weight: normal;
}


.slds-input {
	border-color: #78706A;
	box-shadow: none
}


.slds-form-element__control .slds-radio{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.33rem;
    width:20%;
    border: 1px solid #C6C2BF;
    border-radius: 8px;
    margin-right:1rem;
    padding-left:1rem;
    height:2.33rem;
}
.slds-radio [type="radio"]:checked + .slds-radio_faux:after,
.slds-radio [type="radio"]:checked + .slds-radio--faux:after,
.slds-radio [type="radio"]:checked ~ .slds-radio_faux:after,
.slds-radio [type="radio"]:checked ~ .slds-radio--faux:after,
.slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux:after,
.slds-radio
  [type="radio"]:checked
  + .slds-radio__label
  .slds-radio--faux:after {
  width: 0.75rem;
  height: 0.75rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: rgb(0, 103, 197);
}


.slds-radio .slds-radio_faux,
.slds-radio .slds-radio--faux {
  width: 1.33rem;
  height: 1.33rem;
}

html{
    background-color:#EFEFEF;
}

.slds-button_brand, .slds-button--brand {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	border: 1px solid rgb(217, 219, 221);
	transition: border .15s linear;
	background-color: rgb(0, 103, 197);
	border-color: rgb(0, 103, 197);
	color: #ffffff
}

.slds-button{
  font-size: 1.33rem;
}

.slds-th__action-button {
    display:none;
}

.slds-truncate{
    font-size: 1.33rem;
}

.slds-button_icon-x-small,
.slds-button--icon-x-small {
  width: 1.35rem;
  height: 1.35rem;
  line-height: 0;
}
.slds-input-has-icon_right .slds-input__icon{
    top:25%;
}

span.slds-radio{
    height:1.33rem;
    display:inline;
}

.typo-systemtittel {
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.625rem;
  font-weight: 600;
}